.product-container {
  /* display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.card {
  height: 470px;
  width: 366px;
  border-radius: 12px;
}
.product-title {
  font-weight: 500;
  font-size: 24px;
  color: #411530;
  margin: 20px 0 20px 0;
}
.product-price {
  font-weight: 500;
  font-size: 1rem;
  color: #411530;
  margin: 20px 0 20px 0;
}

.product-btn {
  display: flex;
  background-color: #411530;
  color: #fff;
  border-radius: 12px;
  border: 0;
  width: 100%;
  margin-bottom: 20px;
  padding: 12px 0 12px 76px;
  align-self: flex-start;
  font-weight: 500;
  font-size: 1rem;
  cursor: pointer;
}
